.table{
  
  .cellWrapper{
    display: flex;
    align-items: center;

    .image{
      width: 32px;
      height: 32px;
      border-radius: 50%;
      object-fit: cover;
      margin-right: 10px;
    }
  }

  .status{
    padding: 5px;
    border-radius: 5px;

    &.Approved{
      color: green;
      background-color: rgb(169, 255, 169);
    }

    &.Pending{
      color: goldenrod;
      background-color: rgb(255, 255, 131);
    }
  }
}